.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.shop-container .product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-left: 10px;
}

.cart-container{
    background-color: #FFE0B3;
}

.cart-container:hover{
    background-color: orange;
    
}